<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="/assets/css/syntax.css">
<link rel="stylesheet" href="/assets/css/ss-social.css">
<link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
<header class="large" data-0="background-position:0px 0px;" data-500="background-position:0px -250px;">
    <div class="container">
        <div data-0="opacity: 1" data-180="opacity: 0">
            <h1><a href="/">{{ site.name }}</a></h1>
            <a class="button" href="/about.html">by Magnus Andersson</a>
        </div>
    </div>
</header>
<div class="container" role="main">
    {{ content }}
</div>
<footer>
    <div class="container cols">
        <div class="col1">
            <h3>About</h3>
            <p>
            <img class="footer-avatar" src="http://www.gravatar.com/avatar/5fe41614b0f308d406270119e8e2b4d3?s=100">
            I work with the web. During office hours I work as an IT-consultant and
            on my free time I spend all my time learning and trying out new stuff.
            </p>
            <p>
            I'm a big fan of functional programming and my two favorite languages are JavaScript and Scala.
            </p>
            <p><a href="about.html">Read more</a></p>
        </div>
        <div class="col2">
            <h3>Social</h3>
            <ul class="social">
                <li><a href="https://github.com/snichme" class="ss-icon ss-social-circle" title="https://github.com/snichme">octocat</a></li>
                <li><a href="https://twitter.com/snichme" class="ss-icon ss-social-circle" title="https://twitter.com/snichme">twitter</a></li>
                <li><a href="http://blog.mange.name/rss" class="ss-icon ss-social-circle" title="http://blog.mange.name/rss">rss</a></li>
            </ul>
            <br />
            <p>I'm also on codewall <a href="https://coderwall.com/snichme">https://coderwall.com/snichme</a</p>
        </div>
        <div class="col3">
            <h3>Projects</h3>
            <dl>
                <dt><a href="https://github.com/VerbalExpressions/ScalaVerbalExpressions">ScalaVerbalExpression</a></dt>
                <dd>Scala implementation of <a href="http://verbalexpressions.github.io">VerbalExpression</a> library.</dd>
            </dl>
        </div>
        <br style="clear: left;" />
    </div>
</footer>

<script type="text/javascript" src="/assets/js/skrollr.js"></script>
<script type="text/javascript">
skrollr.init({forceHeight: false});
</script>
</body>
</html>
