<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header id="header">
      <div class="container">
        <nav>
          <span>Reach me at</span>
          <a href="http://twitter.com/snichme">Twitter</a>,
          <a href="http://github.com/snichme">Github</a> or
          <span>mange at mange.name</span>
        </nav>
        <h1>
          <a href="/">
              {{ site.name }}
              <small>Here is some of my code</small>
          </a>
        </h1>
      </div>
    </header>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
